$superImportant:  rgb(58, 27, 39);
$important: rgb(84, 25, 51);
$needstobedone: rgb(132, 68, 94);
$couldwait: rgb(174, 99, 128);
$green1: rgb(64, 100, 110); 
$green2: rgb(170, 188, 193);

.modal{
    background-color: rgba(58, 27, 39, 0.757);
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    padding: 100px 0;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}